<div class="container">
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" 
    data-bs-target="#exampleModal" (click)="stopTime()">Stop</button>
    <table class="table table-striped" *ngIf="projects">
        <thead>
            <tr>
                <th>Project</th>
                <th>Start</th>
                <th>Stop</th>   
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projects of projects | slice: 0:1">
                <td></td>
                <td>{{projects.start}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!projects">No Projects Found</p>
</div>

<form #form="ngForm" (ngSubmit)="addProject()">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title mb-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-5">
                        <label for="name" class="form-label">Project Name*</label>
                        <input type="name" class="form-control" id="name" name="name" [(ngModel)]="addProjectRequest.projects">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark" data-bs-dismiss="modal">Stop Timer</button>
                </div>
            </div>
        </div>
    </div>
</form>