<div class="container">
    <button type="button" class="btn btn-outline-dark" [routerLink]="''">Start</button>
    <input class="form-control" type="text" name="projectName" [(ngModel)]="projectName" (ngModelChange)="Search()"
        placeholder="Enter Project Name to search">
    <table class="table table-striped" *ngIf="projects">
        <thead>
            <tr>
                <th>Project</th>
                <th (click)="sort('start')">Start&nbsp; <i class="fa fa-sort"></i></th>
                <th>Stop</th>   
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projects of projects | orderBy: key: reverse | paginate: {itemsPerPage:5, currentPage:p}">
                <td>{{projects.projects}}</td>
                <td>{{projects.start}}</td>
                <td>{{projects.stop}}</td>
                <td>{{projects.duration}}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!projects">No Projects Found</p>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>